:root {
    --my-background: #f9f5e5;
    --hobo-white: #fefefa;
    --gray: #ccc;
    --link-blue: #004ad2;
    --link-red:  #b22222;
    --contents-width-s: 48em;
    --contents-width-m: 50em;
    --contents-width-l: 55em;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--my-background);
    font-size: 1.8rem;
}
/* layout */
#header {
    margin: 0;
}
#header-inner {
    padding: 10px;
    display: flex;
}
#main {
    flex: 1;
}
#article {
    background: var(--hobo-white);
    padding: 10px;
}
#article-header {
    padding: 0;
    margin: 0 0 20px;
}
#footer {
    margin: 20px 0 0;
}
#footer-inner {
    padding: 10px;
}

/* element */
a {
    color: var(--link-blue);
}
a:hover {
    color: var(--link-red);
}
.heading-links {
    padding: 0 0 0 5px;
    margin: 20px 0 5px;
}
ul {
    list-style-type: disc;
    padding: 0 0 0 1em;
}
.block-link {
    display: block;
    width: 100%;
    text-decoration: none;
}
.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.ad {
    padding: 20px 0;
    min-height: 200px;
}
.sa-icon {
    align-items: center;
    background:#fff;
    border: solid 1.5px #333;
    border-radius: 50%;
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 2.3rem;
    font-weight:bold;
    font-family: "Yu Mincho", "Hiragino Mincho", serif;
    height: 40px;
    justify-content: center;
    line-height: 20px;
    margin: 0 5px 0 0;
    text-align: center;
    user-select: none;
    width: 40px;
}
.sa-icon::before {
    content: "さ";
    text-decoration: none;
}
.sa-icon:hover::before {
    content: "と";
    color: red;
    text-decoration: none;
}
.copy-right {
    font-size: 2.1rem;
    font-weight: bold;
    font-family: "Yu Mincho", "Hiragino Mincho", serif;
}
#page-title {
    margin: 20px 0 0;
}
.datetime-box {
    font-size: 1.6rem;
    color: #666666;
}

.links {
    margin: 20px 0;
}
.link-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link-list-item {
    margin: 0 10px 0 0;
}
.b-sharp::before {
    content: '#';
}
.related-pages {
    padding: 10px 5px;
    margin: 0 auto;
}
.related-list {
    margin: 0 auto;
    padding: 0;
    width: var(--contents-widht);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    list-style-type: none;
}
.related-list-item {
    box-sizing: border-box;
    padding: 5px;
}
.related-link {
    background: var(--hobo-white);
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    height: 200px;
    overflow: hidden;
}
.related-link:hover {
    background: #efefef;
} 
.item-title {
    color: #222;
    font-size: 1.6rem; 
    font-weight: bold;
    margin: 0 0 10px; 
}
.dscr h2,
.dscr h3,
.dscr h4,
.dscr h5,
.dscr ul,
.dscr li,
.dscr pre,
.dscr code,
.dscr p,
.dscr{
    font-size: 1.5rem; 
    color: #888;
    margin: 0;
}

@media only screen and (min-width: 415px) {
    .related-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media only screen and (min-width: 750px) {
    #article {
        border: solid 1px #ccc; 
        box-sizing: border-box;
        padding: 10px 35px;
        margin: 0 auto;
    } 
    #header-inner,
    #footer-inner {
        margin: 0 auto;
    }
    .related-list {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .related-pages {
        width: var(--contents-width-s);
    }
    #article,
    #header-inner,
    #footer-inner {
       width: calc(var(--contents-width-s) - 10px);
    }
}
@media only screen and (min-width: 900px) {
    .related-pages {
        width: var(--contents-width-m);
    }
    #article,
    #header-inner,
    #footer-inner {
        width: calc(var(--contents-width-m) - 10px);
    }
}
@media screen and (min-width: 1200px) {
    .highlight {
        margin: 20px 0;
    }
    .related-pages {
        width: var(--contents-width-l);
    }
    #article,
    #header-inner,
    #footer-inner {
        width: calc(var(--contents-width-l) - 10px);
    }
}

/* pre & code */
pre {
	white-space: break-spaces;
    padding: 20px;
    color: #f8f8f2;
    background-color: #272822;
}
code {
    padding: 0 .3em;
    margin: 0;
    background-color: rgba(27,31,35,.05);
    border: solid 1px #ccc;
    font-size: 1.4rem;
    font-family: auto;
}
.highlight{margin: 20px -15px; }
pre code {
    padding:0;
    margin: 0;
    font-size: 1.4rem;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Monaco,Courier,monospace;
    border: 0;
}
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+bash+c+csharp+cpp+csv+git+go+graphql+haskell+java+markup-templating+perl+php+python+ruby+rust+sql+toml+typescript+typoscript+uri+vim+xml-doc+yaml */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1.4rem;
	text-align: left;
	white-space: break-spaces;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

