<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    <title>{{- .Title -}}</title>
    <link rel="stylesheet" href="/css/style.css">
    {{- if .Home }}
    <script src="/js/top-page.js"></script>
    {{- else }}
    <script src="/js/main.js"></script>
    {{- end }}
</head>
<body>
    <main id="main">
    <article>
        <h1>{{ .Title }}</h1>
        {{- with .Tags }}
        <div class="headmeta">
            <ul>
                {{- range $val := . }}
                <li><a href="/{{ $val }}/">{{ $val }}</a></li>
                {{- end }}
            </ul>
        </div>
        {{- end }}
        {{ .Body }}
    </article>
    {{- with .Tags }}
    <div class="links">
    <ul>
        {{- range $val := . }}
        <li><a href="/{{ $val }}/">{{ $val }}</a></li>
        {{- end }}
    </ul>
    </div>
    {{- end }}
    </main>
</body>
</html>
