{{- template "head" }}
<body>
    <header id="header">
        <a class='block-link' href="/">
            <div class="sa-icon"></div>
        </a>
    </header>
    <main id="main">
        <article id="article">
            <header id="article-header">
                <h1 id="page-title">{{ .Title }}</h1>
            </header>
            {{ .Body }}
            {{- if .Home }}
                <ul class="related-list">
                {{- range $v := .Plist }}
                    <li class="related-list-item">
                        <a class="related-link" href="/{{- $v.Slug -}}/">
                            <div class="item-title">{{- $v.Title -}}</div>
                            <div class="dscr">{{- $v.Description -}}</div>
                        </a> 
                    </li>
                {{- end }}
                </ul>
            {{- end }}
        </article>
    </main>
    {{- template "footer" }}
</body>
</html>
